[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]


[packages]
# NONE of below are pinned to make upgradable and flexible white creating new environment
# should be pinned before distribution, or use the lock file
ipyevents = "*"
ipykernel = "*"
ipython = "*"
ipython-genutils = "*"
jupyter = "*"
jupyter-client = "*"
jupyter-console = "*"
jupyter-core = "*"
notebook = "*"
numpy = "*"
pandas = "*"
py = "*"
scikit-learn = "*"
scipy = "*"
requests = "*"
  
[requires]
python_version = "3.7"


 